<template>
  <div  >
      <v-app>

      
    <v-card >
      <v-navigation-drawer
     permanent
        expand-on-hover
        class="space"
      >


      
        <v-list >
          <v-list-item class="px-2">
            <v-list-item-avatar>
              <v-img src="bell-real.png"></v-img>
            </v-list-item-avatar>
            <v-list-item-title class="font">Bell enterpise</v-list-item-title>
          </v-list-item>

          
        </v-list>

        <v-divider></v-divider>

        <v-list
          nav
          dense
        >
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-folder</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">My Files</v-list-item-title>
          </v-list-item>
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-account-multiple</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">Shared with me</v-list-item-title>
          </v-list-item>
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-star</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">Starred</v-list-item-title>
          </v-list-item>
           <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-star</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">Starred</v-list-item-title>
          </v-list-item>
           <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-star</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">Starred</v-list-item-title>
          </v-list-item>
           <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-star</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">Starred</v-list-item-title>
          </v-list-item>
           <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-star</v-icon>
            </v-list-item-icon>
            <v-list-item-title  class="font">Starred</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-card>
    </v-app>
  </div>
</template>

<script>

export default {


}
</script>

<style>
.align{
    width: 100%;
    height: 100%;
  
}
.space{
    width: 30px;
    background: blue;
   
}
.font{
  color: white;
}
.v-navigation-drawer__content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #00549A;
}

</style>