<template>
<keep-alive>
  <div class="sticky-top">
       <v-app>

      <v-navigation-drawer
     permanent
       v-model="drawer"
      
      :mini-variant.sync="mini"
     display="flex"
        class="space"
        v-on:click="nav"
        width="300px"
        height="100%"
      >


      
        <v-list >
          <v-list-item class="px-2">
            <v-list-item-avatar>
              <v-img src="bell-real.png"></v-img>
            </v-list-item-avatar>
            <v-list-item-title class="font">Bell enterpise</v-list-item-title>
         <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
         
          </v-list-item>

          
        </v-list>

        <v-divider></v-divider>

        <v-list
          nav
          dense
          class="mt-3"
        >
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-folder</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font"> 
                
                <v-menu
   
      :close-on-content-click="false"
      :nudge-width="200"
      offset-x
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
         class="white--text"
          color="#00549A"
          v-bind="attrs"
          v-on="on"
        >
         personal
        </v-btn>
      </template>
      <v-card>
       <v-row>
         <v-col>
<v-list  v-for="(item2) in data5" :key="item2">
               <v-menu open-on-hover bottom offset-x>
        <template v-slot:activator="{ on }">
          <v-list-item
           
            v-on="on"
          >
            {{item2.catagory.name}}
          </v-list-item>
        </template>
        <v-card>
          <v-list-item  v-for="(sub_item1) in item2.catagory.subcatagory" :key="sub_item1"> 
{{sub_item1}}
          </v-list-item>
        </v-card>
        
        </v-menu>

          
          </v-list>   
          
         </v-col>
         
         
       </v-row>
           
      </v-card>
     
     
      </v-menu>
      </v-list-item-title>


          </v-list-item>
          <v-list-item link class="mt-3">
            <v-list-item-icon>
              <v-icon>mdi-account-multiple</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">
                 <v-menu
      
      :close-on-content-click="false"
      :nudge-width="200"
      offset-x
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="white--text"
          color="#00549A"
          v-bind="attrs"
          v-on="on"
        >
          small bussiness
        </v-btn>
      </template>
     <v-card>
       <v-row>
         <v-col>
<v-list  v-for="(itemsm) in data3" :key="itemsm">
               <v-menu open-on-hover bottom offset-x>
        <template v-slot:activator="{ on }">
          <v-list-item
           
            v-on="on"
          >
            {{itemsm.catagory.name}}
          </v-list-item>
        </template>
        <v-card>
          <v-list-item  v-for="(sub_item2) in itemsm.catagory.subcatagory" :key="sub_item2"> 
{{sub_item2}}
          </v-list-item>
        </v-card>
        
        </v-menu>

          
          </v-list>   
          
         </v-col>
         
         
       </v-row>
           
      </v-card>
     
      
      </v-menu>
            </v-list-item-title>
          </v-list-item>
          <v-list-item link class="mt-3">
            <v-list-item-icon>
              <v-icon>mdi-star</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="font">
                 <v-menu
      
      :close-on-content-click="false"
      :nudge-width="200"
      offset-x
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="white--text"
          color="#00549A"
          v-bind="attrs"
          v-on="on"
        >
          medium and large bussiness
        </v-btn>
      </template>
      <v-card>
       <v-row>
         <v-col>
<v-list  v-for="(item1) in data4" :key="item1">
               <v-menu open-on-hover bottom offset-x>
        <template v-slot:activator="{ on }">
          <v-list-item
           
            v-on="on"
          >
            {{item1.catagory.name}}
          </v-list-item>
        </template>
        <v-card>
          <v-list-item  v-for="(sub_item3) in item1.catagory.subcatagory" :key="sub_item3"> 
{{sub_item3}}
          </v-list-item>
        </v-card>
        
        </v-menu>

          
          </v-list>   
          
         </v-col>
         
         
       </v-row>
           
      </v-card>
     
    
      </v-menu>
            </v-list-item-title>
          </v-list-item>
          
          
        </v-list>
      </v-navigation-drawer>
   

       </v-app>
  </div>
  </keep-alive>
</template>

<script>
export default {
  
 data: () => ({
   nav:true,
   list_open:false,
   data5:[],
    data3:[],
     data4:[],
      drawer: true,
        mini: true,
 fav: true,
    menu: false,
    message: false,
    hints: true,
    content_click_option:false,
    buttons: [
    {
      id: 'options',
      title: 'More Options',
      icon: 'fas fa-bars',
      action: '',
      options: [
        {id: 'dictionary', title: 'Dictionary', action: ''},
        {id: 'visualization', title: 'Data Visualization', action: ''},
        {id: 'password', title: 'Change Password', action: ''},
        {id: 'license', title: 'License Info', action: ''},
        {
          id: 'tools', title: 'Tools', action: '',
          options: [
            {id: 'calculator', title: 'Hex to ASCII calculator'}
          ]
        },
        {id: 'checkup', title: 'Checkup Report', action: ''},
        {id: 'system', title: 'System Monitoring', action: ''},
        {id: 'db', title: 'Database Management', action: ''},
      ]
    },
    {id: 'reports', title: 'Reports', icon: 'fas fa-chart-line', action: ''},
    {
      id: 'help',
      title: 'Help Options',
      icon: 'fas fa-question-circle',
      action: '',
      options: [
        {id: 'user', title: 'User Guide', action: ''},
        {id: 'admin', title: 'Admin Guide', action: ''},
      ]
    },
    {id: 'settings', title: 'Settings', icon: 'fas fa-cog', action: ''},
    {id: 'logout', title: 'Logout', icon: 'fas fa-power-off', action: ''},
  ]
  }),
   mounted(){
    
          this.$axios('http://localhost:5000/search')
              .then(response => {
                this.data5 = JSON.parse(JSON.stringify(response.data.dataex)) ;
                 this.data3=JSON.parse(JSON.stringify(response.data.datasmall));
                  this.data4=JSON.parse(JSON.stringify( response.data.datamedium));
                
          })
     
     },
     
    
   
  
}
</script>

<style>
.align{
    width: 100%;
    height: 100%;
  
}
.v-navigation-drawer__content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #00549A;
}
.space{
    width: 30px;
    background: blue;
   
}
.navtxt{
  color: white;
}
.mdi-folder::before {
    content: "\F024B";
    color: white;
}
.mdi-account-multiple::before {
    content: "\F000E";
    color: #ffffff;
}
.mdi-star::before {
    content: "\F04CE";
    color: #ffffff;
}
.sticky-top {
    position: sticky;
    top: 0;
}
</style>