<template>
  <div>
    
<v-app no-gutters>
    
    <v-row no-gutters>
      <v-col md="1">
          <Nav />
      </v-col>
      <v-col>
        <v-toolbar>
      <v-toolbar-title>Title</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Link One</v-btn>
        <v-btn flat>Link Two</v-btn>
        <v-btn flat>Link Three</v-btn>
        <v-menu open-on-hover bottom offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            dark
            v-on="on"
          >
            Dropdown
          </v-btn>
        </template>
        <h1 v-for="data in data4" :key="data">{{data}}</h1>
        </v-menu>
      </v-toolbar-items>
        </v-toolbar>
      </v-col>
      
    </v-row>
    <v-row no-gutters>
      <v-col>
        <input type="text" 
        class="form ma-5 pa-4" 
        placeholder="SKU"
        v-model="query" />
        <button v-on:click="search" class="search">search</button>
        <v-row no-gutters>
          <v-col class="ma-5 pa-4">
            <input type="radio" name="checkbox" id="checkbox_id" value="iPhone 12" v-model="checkbox">
            <label for="checkbox_id">iPhone 12</label>
             <input type="radio" name="checkbox" id="checkbox_id1" value="iPhone 12 Pro" v-model="checkbox">
            <label for="checkbox_id1">iPhone 12 Pro</label>
             <input type="radio" name="checkbox" id="checkbox_id12" value="iPhone XR" v-model="checkbox">
            <label for="checkbox_id12">iPhone XR</label>
          <h3>{{checkbox}}</h3>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
         <h1 v-for="datas in data" :key="datas">
                     {{datas}}
                </h1>
      </v-col>
      <v-col>
         <h1 v-for="data in data4" :key="data">
                     {{data}}
                </h1>
      </v-col>
      <v-col>
       
      </v-col>
     
    </v-row>
    
 </v-app>
   
  </div>
</template>

<script>


 export default {
   
   
   

      data: () => ({
   
      query: '',
      data: [],
      data2:[],
       data4:[],
      checkbox:[],
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Dessert (100g serving)',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: 'Calories', value: 'calories' },
        { text: 'Fat (g)', value: 'fat' },
        { text: 'Carbs (g)', value: 'carbs' },
        { text: 'Protein (g)', value: 'protein' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

   
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
     
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      
      //this search method is connected to our server api and as u can see 
      //we have used user input to filter the database in elasticsearch
      //certain changes need to be done in the format of json file 

       search() {
        this.$axios('http://localhost:5000/search?q='+this.query+'&check='+this.checkbox)
              .then(response => {
                this.data = response.data.datao;
                this.data4=response.data.dataex;
          })
    },
      initialize () {
        this.desserts = [
          {
            name: 'Frozen Yogurt',
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3,
          },
          {
            name: 'Eclair',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          },
          {
            name: 'Cupcake',
            calories: 305,
            fat: 3.7,
            carbs: 67,
            protein: 4.3,
          },
          {
            name: 'Gingerbread',
            calories: 356,
            fat: 16.0,
            carbs: 49,
            protein: 3.9,
          },
          {
            name: 'Jelly bean',
            calories: 375,
            fat: 0.0,
            carbs: 94,
            protein: 0.0,
          },
          {
            name: 'Lollipop',
            calories: 392,
            fat: 0.2,
            carbs: 98,
            protein: 0,
          },
          {
            name: 'Honeycomb',
            calories: 408,
            fat: 3.2,
            carbs: 87,
            protein: 6.5,
          },
          {
            name: 'Donut',
            calories: 452,
            fat: 25.0,
            carbs: 51,
            protein: 4.9,
          },
          {
            name: 'KitKat',
            calories: 518,
            fat: 26.0,
            carbs: 65,
            protein: 7,
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
    
    
     
  }
</script>

<style>
.size{
  width: 80%;
  height: 100%;
}
.outline{
  border: 1px solid black;
}
.form{

  border: solid 1px black;
}
.search{
  background: blue;
  color: white;
  padding: 10px;
}
</style>