<template>
<keep-alive>
  <div>
     
          
<v-app no-gutters>
    
    <v-row no-gutters>
      <v-col md="2">
         <Newnav />
      </v-col>
      <v-col>
       
          <v-card >
           

            

      <v-text-field   mb-6 pa-4  class="search rounded-pill  ma-8"
        append-icon="mdi-magnify"
        
        hide-details 
        solo
       
       
      ></v-text-field>
      
      
      
          </v-card>
         <v-row no-gutters>
           <v-spacer></v-spacer>
      <v-col>
        
      
        
        
        
     
       
    
       <v-select class="switch pa-5"
          :items="data13"
          placeholder="Sort by price"
          dense
          outlined
          width="200px"
          color="transparent"
        ></v-select>
       
         </v-col>
          <v-col  class="toggle" > 
         <v-switch
         class="switch"
      v-model="switch1"
      @click="isvisible=!isvisible"
      
    ></v-switch> 
   
    </v-col>
    </v-row>

     
     
    
    <v-row no-gutters class="vsheet">
        <v-col>
            <v-sheet height="300px" color="#EEEDE7"  >
                <v-row>
                    <v-col>
                        <v-select
          :items="data"
          label="Name"
          dense
          class="ml-3"
          outlined
        >filter</v-select>
                    </v-col>
                    <v-col>
                        <v-select
          :items="data2"
          label="Product id"
          dense
          outlined
        >filter</v-select>
                    </v-col>
                    <v-col>
                        <v-select
          :items="data10"
          label="SKU"
          dense
          outlined
        >filter</v-select>
                    </v-col>
                    <v-col>
                        <v-select
          :items="data11"
          label="brand id"
          dense
          outlined
        >filter</v-select>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col md=3>
                         <v-select
          :items="data12"
          label="brand"
          dense
          class="ml-3"
          outlined
        >filter</v-select>
                    </v-col>
                </v-row>
            </v-sheet>
        </v-col>
    </v-row>
    
    <v-row no-gutters id="normal_row" v-show="isvisible" >
      <v-col md="4"  v-for="(datas) in data"
      :key="datas">
        <v-card class="normal_view mb-7" width="500px" height="400px">

        
        <v-col  >
          <template >
        <v-carousel hide-delimiters  width="450px" height="300px">
    <v-carousel-item width="450px" height="100px"
     class="ma-3 pa-12"
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
          </template>
        </v-col>
        <v-row>
          <v-col>
            <v-card-title class="text-md-center" no-gutters>{{datas}}</v-card-title>
          </v-col>
          
        </v-row>
       
  </v-card>
      </v-col>
    </v-row>
    <v-row v-show="!isvisible">
      <v-col>
        <template>
  <v-data-table
    :headers="headers"
    :items="data9"
    class="elevation-1"
  >
   
    
  </v-data-table>
  </template>
      </v-col>
    </v-row>
      </v-col>
      
      
      
      
    </v-row>
   
</v-app>
  </div>
</keep-alive>
</template>

<script>
import index from './index.vue';
export default {
     
  components: { index },
     data: () => ({
       isvisible:true,
     data:[],
     data2:[],
     data3:[],
      data4:[],
      data9:[],
      data10:[],
      data11:[],
      data12:[],
      data13:[],
      items: [
          {
            src: 'phone.png',
          },
          {
            src: 'phone_2.png',
          },
          {
            src: 'phone_3.png',
          },
         
        ],
        headers: [
        {
          text: 'name',
          align: 'start',
          value: 'name',
        },
        { text: 'product id', value: 'product_id' },
        { text: 'plans', value: 'payment_type' },
       
      ],
       desserts: [
        
        
       ]
     
     }),
     mounted(){
          this.$axios('http://localhost:5000/search')
              .then(response => {
                this.data = response.data.datao;
                this.data2=response.data.datare;
                this.data10=response.data.datasku;
                this.data11=response.data.databrand_id;
                this.data12=response.data.databrand;
                this.data13=response.data.dataprice;
                this.data9=JSON.parse(JSON.stringify(response.data.object));
                
          })
     },
    
    
}

</script>

<style>
.normal_view{
  width: 500px;
  height: 600px;
}
.demo{
   width: 500px;
  height: 100px;
}
.search{
  background-color: white;
  border-radius: 20px;
  padding: 1px 70px 1px 15px;
  border: 1px solid black;
   box-shadow: 1px 1px 1px white;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
     box-shadow: 0px 0px 0px white;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
     box-shadow: 0px 0px 0px white; 
}
.mdi-magnify::before {
    content: "\F0349";
    color: blue;
}
.switch{
  margin-left: 80%;
}
.vsheet{
  background-color: rgb(14, 236, 236);
  
}

</style>